numpy
pandas
scikit-learn
matplotlib
seaborn
opencv-python
pillow
# Uncomment one of the following depending on which deep learning framework you use
# torch
# torchvision
# tensorflow
xgboost
lightgbm
jupyterlab
notebook
